
<section class="main-text">
    <h1>Cosmic toy Store</h1>
    <p>Discover Endless Fun at Cosmic Toy Store!</p><br>
    <h3>"Discover our latest novelties at Cosmic Toy Store, where imagination knows no bounds!":</h3>
</section>

<section>
    <div class="cards-container">
    </div>
</section><br>

<div class="promotions">
    <div class="promotion">
        <div class="promo-img">
            <img src="../img/courses/ufo-g84f03435d_640.jpg" alt="Particle Physics Course">
        </div>
        <div class="promo-title">
            <h2> Cosmic Toy Store's Toy of the Month! </h2>
        </div>
        <div class="promo-content">
            <p>Get ready for an out-of-this-world adventure with our incredible Toy of the Month! 
            Don't miss out on the cosmic fun! Grab the Toy of the Month now and make this month's playtime an unforgettable journey!</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>
</div>
