<section class="accordion">
    <h2 class="faq-title">Frequent asking questions</h2>
    <h3 class="accordion-title accordion--open">What types of toys do you sell in your online store?</h3>
    <div class="accordion-content">
        <p>In our online toy store we offer a wide variety of toys for boys and girls of all ages, from babies to teenagers. We carry a wide selection of educational toys, construction toys, plush toys, science and technology toys, dolls, board games, puzzles, outdoor games, and much more. In addition, we work with internationally recognized quality brands, which guarantees that all our products are safe, durable and fun..</p>
    </div>
    <h3 class="accordion-title">What is your return and exchange policy?</h3>
    <div class="accordion-content">
        <p>At our online toy store, we want our customers to be completely satisfied with their purchase. If for any reason you are not satisfied with your purchase, you can return it within 30 days for a full refund. We also offer the option to exchange for another product of equal or greater value. To request a return or exchange, simply contact us through our website or by email and we will provide you with detailed instructions..</p>
    </div>
    <h3 class="accordion-title">How can I track my order?</h3>
    <div class="accordion-content">
        <p>At our online toy store, we know that it is important to keep our customers informed about the status of their order. After making your purchase, we will send you an email with the tracking number of your order, which you can use to track the shipment at any time. In addition, you can check the status of your order by logging into your account on our website, where you can find detailed information about your order status, purchase history, and billing information.</p>
    </div>
    <h3 class="accordion-title ">Do you offer discounts or special promotions?</h3>
    <div class="accordion-content">
        <p>At our online toy store we want to offer our customers the best possible shopping experience, and part of that involves offering discounts and special promotions on some of our products. We regularly publish offers in our offers and promotions section, where you can find discounts on some of our most popular products. You can also subscribe to our newsletter to receive exclusive promotions and news about new products. At our online toy store, we care about keeping our customers informed and giving them the best possible shopping experience.</p>
    </div>
    <h3 class="accordion-title">Can I return a toy if I don't want it after buying it?</h3>
    <div class="accordion-content">
        <p>Yes, we accept returns within 30 days of purchase, as long as the toy is in its original condition and has the purchase receipt. Exceptions apply to opened or used toys, which may be subject to a restocking fee.</p>
    </div>
</section>

<section class="au-content">
    <div class="au-content-container">
        <h1>About Us</h1>

        <p>At Cosmic Toy Store, we believe in limitless fun. Since our inception, we have been dedicated to providing high-quality and unique toys. Our passion for science fiction and space is reflected in our carefully curated selection. We believe everyone deserves to explore the universe and experience the excitement of adventure. That's why we work hard to offer affordable, top-notch products. Visit our store and discover the universe of intergalactic fun! Remember our slogan: <b>Intergalactic fun.</b></p><br>
        <p>We aim to create a welcoming environment where families can find not only high-quality toys but also friendly service. Our knowledgeable staff is here to assist you in finding the perfect toy for your child. We also give back to the community by donating a portion of our profits to local charities that support children and families in need. Our goal is to provide a fun and satisfying shopping experience while making a positive impact in the community.</p>
        <div class="au-video">
            <iframe width="1496" height="552" src="https://www.youtube.com/embed/Ae8w0qFyQ0Q" title="Curious George in Space 🐵 Curious George 🐵Kids Cartoon 🐵 Kids Movies 🐵Videos for Kids" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</section>


